*~
*.hi
*.o
!*.hs
./io/helloworld
./wxhaskell/dogChoice/dogChoice
./wxhaskell/nReinas/nReinasGUI
./wxhaskell/sierpinskiTriangle/cfoch/sierpinskiTriangle
./wxhaskell/sierpinskiTriangle/paolo/sierpinskiTriangle
./wxhaskell/factorial/factorialGUI
./wxhaskell/geometry/geometry
./wxhaskell/samples/bin/Paint
./wxhaskell/samples/bin/Minimal
./wxhaskell/samples/bin/ByeDemo
./wxhaskell/samples/bin/Print
./wxhaskell/samples/bin/ImageViewer
./wxhaskell/samples/bin/Grid
./wxhaskell/samples/bin/Controls
./wxhaskell/samples/bin/ListCtrl
./wxhaskell/samples/bin/CustomControl
./wxhaskell/samples/bin/BouncingBalls
./wxhaskell/rose/rose
./.git/hooks/commit-msg.sample
./.git/hooks/post-update.sample
./.git/hooks/pre-commit.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/update.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/pre-applypatch.sample
